---
import { GLOBAL } from "../../lib/variables";
import Layout from "../../layouts/Layout.astro";
import ArticleSnippet from "../../components/ArticleSnippet.astro";
import Section from "../../components/common/Section.astro";
import { articles } from "../../lib/list";

---

<Layout>
  <Fragment slot="head">
    <title>{GLOBAL.devblogTitle} • {GLOBAL.username}</title>
    <meta
      name="description"
      content={GLOBAL.devblogLongDescription}
    />
    <meta property="og:title" content={`${GLOBAL.devblogTitle} • ${GLOBAL.username}`} />
    <meta
      property="og:description"
      content={GLOBAL.devblogShortDescription}
    />
    <meta property="og:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`} />
    <meta property="og:url" content={`${GLOBAL.rootUrl}/blog`} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${GLOBAL.devblogTitle} • ${GLOBAL.username}`} />
    <meta
      name="twitter:description"
      content={GLOBAL.devblogShortDescription}
    />
    <meta name="twitter:image" content={`${GLOBAL.rootUrl}/${GLOBAL.profileImage}`} />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href={`${GLOBAL.rootUrl}/blog`} />
  </Fragment>
  <Section class="my-8">
    <div class="flex items-center gap-4 pt-8 pb-16">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">{GLOBAL.articlesName}</h1>
    </div>
    <ul>
      {
        articles.map((photoblog) => (
          <li>
            <ArticleSnippet
              title={photoblog.title}
              description={photoblog.description}
              duration={`${photoblog.time} min`}
              url={photoblog.filename}
              timestamp={photoblog.timestamp}
            />
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
